<div class="content-wrapper">
        <section class="content-header">
          <h1>Bulk User <small>it all starts here</small></h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">User</a></li>
            <li class="active">Bulk User</li>
          </ol>
        </section>
        <section class="content">
              <div class="col-md-6">
                  <form action="/file_upload" method="POST"  enctype = "multipart/form-data">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="text-normal text-dark">First Name</label>
                            <input type="text" class="form-control" placeholder="first name">
                        </div>
                        <div class="form-group">
                            <label class="text-normal text-dark">last Name</label>
                            <input type="text" class="form-control" placeholder="last name">
                        </div>
                        <div class="form-group">
                            <label class="text-normal text-dark">Location</label>
                            <input type="text" class="form-control" placeholder="location">
                        </div>
                        <div class="form-group">
                            <label class="text-normal text-dark">Age</label>
                            <input type="text" class="form-control" placeholder="age">
                        </div>
                        <div class="form-group">
                            <label class="text-normal text-dark">Image</label>
                            <input type="file" class="form-control" name="file" >
                        </div>
                        <div class="form-group">
                          <button class="btn btn-primary" id="btn_add" name="btn_add">Submit</button>
                        </div>
                    </div>
                  </form>
              </div>    
            </section>
      </div>
        <!-- /.content-wrapper -->