<!DOCTYPE html>
<html lang="en">
	
	<% include ../../partials/head %>
	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">
		<% include ../../partials/nav %>		
		<% include ../../partials/rightnav %>		
		<% include ../../partials/report/movewiserep %>
		<% include ../../partials/footer %>
		<% include ../../partials/scripts %>
	</body>
</html>