<!DOCTYPE html>
<html lang="en">
	<% title= posts[0].title; %>
	<% path  = posts[0].pathname; %>
	<% open  = posts[0].open; %>
	<% data  = posts[0].data; %>
	<% include ../../partials/head %>
	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">			
		 	
		
		<% include ../../partials/forget-password/forget-password %> 
		
        
		</div>
	</body>
</html>
<!-- dashboard/dashboard -->