<header class="main-header">
    <a href="index2.html" class="logo">
      	<!-- mini logo for sidebar mini 50x50 pixels -->
      	<span class="logo-mini"><b>H</b>RIS</span>
      	<!-- logo for regular state and mobile devices -->
      	<span class="logo-lg"><b>HRIS</b></span>
    </a>
    <nav class="navbar navbar-static-top">
    	<!-- Sidebar toggle button-->
      	<a href="#" onclick='return false' class="sidebar-toggle" data-toggle="push-menu" role="button">
        	<span class="sr-only">Toggle navigation</span>
      	</a>
      	<!-- Navbar Right Menu -->
      	<div class="navbar-custom-menu">
        	<ul class="nav navbar-nav">
          		<li class="dropdown user user-menu">
            		<img src="upload/hris.jpg" width="50px" height="50px" style="margin-right: 10px;">
          		</li>
	        </ul>
    	</div>
	</nav>
</header>
<div class="container" style="padding-top: 10px;">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="text-center">
                      <h3><i class="fa fa-lock fa-4x"></i></h3>
                      <h2 class="text-center">Forgot Password?</h2>
                      <p>You can reset your password here.</p>
                      <div class="panel-body">
        
                        <form id="register-form" role="form" autocomplete="off" class="form" method="post" action="/reset-password">
        
                          <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                              <input id="email" name="email" placeholder="email address" class="form-control"  type="email" required>
                            </div>
                          </div>
                          <div class="form-group">
                            <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                          </div>
                          
                          <input type="hidden" class="hide" name="token" id="token" value=""> 
                        </form>
        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>