<!DOCTYPE html>
<html lang="en">
	<% title= posts[0].title; %>
	<% path  = posts[0].pathname; %>
	<% open  = posts[0].open; %>
	<% include ../../partials/head %>
	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">
		<% include ../../partials/nav %>		
		<% include ../../partials/rightnav %>		
		<% include ../../partials/3columns %>
		<% include ../../partials/footer %>
		<% include ../../partials/scripts %>
	</body>
</html>